@model Hung_Tran_Ngoc___66131218___Baitap1.Models.TongCls
<h2>TÍNH TỔNG 2 SỐ NGUYÊN NHẬN GIÁ TRỊ TỪ ĐỐI TƯỢNG Request</h2>
<h3>Tác giả: Trần Ngọc Hùng - MSSV:66131218 - Điện thoại liên hệ:0368392508</h3>
<form name="f1" action="myModel" method="post">
    <div>
        <h4>Nhập số thứ nhât: <input type="text" name="a" /></h4>
        <h4>Nhập số thứ hai:::: <input type="text" name="b" /></h4>
    </div>
    <div><input type="submit" value="Tính tổng" /></div>
    <h4>Tổng 2 số vừa nhập là: @Model.tong()</h4>
</form>
